
/* Your CSS Code here. */
.holder{
	heigth:100vh;
	width:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
}

.item{
}

.item-1{
	width:100px;
	height:100px;
	background-color:red;
}